<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Simple ToDo List</a>
        <button class="btn btn-outline-success">Add ToDo</button>
    </div>
  </nav>

  <div class="mt-3">
    <ul class="list-group list-group-flush" *ngFor="let todo of toDos">
      <li class="list-group-item" [ngClass]="{'strike-text' : todo.completed}">
        {{todo.title}}
        <span class="buttons">
           <button type="button" class="btn btn-sm btn-primary mx-3"
            (click)="editTodo('todo')">
            Edit
          </button>
          <button type="button" class="btn btn-sm mx-3"
            [ngClass]="todo.completed ? 'btn-warning' : 'btn-success'"
            (click)="toggleCompletion('todo')">
              {{todo.completed ? "Not Done Yet" : "Mark as Done" }}
            </button>
          <button type="button" class="btn btn-sm btn-danger mx-3"
            (click)="deleteTodo('todo')">
            Remove
          </button>
        </span>
      </li>
    </ul>
  </div>
</div>
